<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />



@if (ViewBag.Title != null)
{
    <title>@ViewBag.Title</title>
}
else
{
    <title>MyForum</title>
}



@if (ViewBag.Description != null)
{
    <title>@ViewBag.Description</title>
}
else
{
    <title>MyForum</title>
}



@if (ViewBag.Keywords != null)
{
    <title>@ViewBag.Keywords</title>
}
else
{
    <title>MyForum</title>
}